<!doctype html>
<html lang="en">
<head>
    @Html.Partial("_partials/_head")
    @RenderSection("head", required: false)
</head>

<body lang="en">
    @Html.Partial("_partials/_header")
    @RenderBody()
    @Html.Partial("_partials/_footer")
</body>

</html>
