@inherits StatiqRazorPage<IEnumerable<IDocument>>
<div>
    @foreach (IDocument post in Model)
    {
        string excerpt = post.GetString(Statiq.Html.HtmlKeys.Excerpt);
        excerpt = excerpt.RemoveEnd("</p>"); //remove final '</p>'
        var words = excerpt.Split().Take(50); //only interested in first 50 words, so add them to array
        excerpt = string.Join(" ", words); //rejoin the words as single string
        excerpt += $" ... <span><a href=\"{Context.GetLink(post)}\">Read more</a></span></p>"; //add it back with some more goodies
        <article>
            <header>
                <h2>
                    <a href="@Context.GetLink(post).Substring(1)">@post.GetString("Title")</a>
                </h2>
                <div>
                    <time datetime="@post.GetString("Published")">@post.GetDateTime("Published").ToString("MMMM dd, yyyy")</time>
                </div>
            </header>
            <div>
                @Html.Raw(excerpt)
            </div>
        </article>
    }
</div>

@{
    IDocument older = Document.GetDocument(Keys.Next);
    IDocument newer = Document.GetDocument(Keys.Previous);
}
@if (older != null || newer != null)
{
    <div>
        <div>
            @if (older != null)
            {
                <a href="@Context.GetLink(older)">Older</a>
            }
        </div>
        <div>
            @if (newer != null)
            {
                <a href="@Context.GetLink(newer)">Newer</a>
            }
        </div>
    </div>
}
