<div class="header">
    <div class="title">
        <h1><a href="/">Cory Knox</a></h1>
    </div>
    <div class="pageTitle">
        <h1>@(Model.GetBool("HideTitle") ? "" : Model.GetString("Title"))</h1>
    </div>
    <div class="links">
        <h1>
            @* @foreach (var link in Constants.Navigation)
            {
                @("|")
                <a href="@link.Link" title="@link.ToolTip" @(link.Title == Model.GetString("Title") ? "class=selectioned" : "")>@link.Title</a>
            }
            | *@
        </h1>
    </div>
</div>
